/* 
google font
  font-family: "Open Sans", serif;
 font-family: "Poppins", serif;
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&family=Poppins:wght@500;600&display=swap");

/* basic css */
body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
  color: #646464;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 50px;
  color: #212121;
}
.button {
  color: #ffffff;
  background-color: #37806b;
  text-decoration: none;
  border-radius: 15px 0;
  padding: 7px 20px;
}
.design-image {
  position: relative;
  z-index: 1;

}
.design-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 3px solid #caa892;
}
.design-image-two {
  position: relative;
  z-index: 1;
}
.design-image-two::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: -20px;
  top: -20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 3px solid #caa892;
}
.section-heading h4 {
  color: 646464;
  font-size: 18px;
  font-family: 600;
  text-transform: uppercase;
}
.section-heading h3 {
  color: 212121;
  font-size: 50pxpx;
}

/* Header area start*/
.header-area {
  padding: 20px 0;
}
.header-area .nav-item {
  margin-left: 20px;
}
.header-area .nav-link {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.header-area .nav-link.active {
  color: #646464;
}
.header-area .navbar-nav li:last-child .nav-link {
  text-transform: capitalize;
  background-color: #caa892;
  border-radius: 15px 0;
  padding: 7px 20px;
  margin-left: 30px;
  color: #ffffff;
}
/* Header area end */
/* main area start */
.hero-area {
  padding: 80px 0;
}
.hero-text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.hero-text a {
  margin-top: 25px;
  display: inline-block;
}
.hero-image img {
  border-radius: 140px 0;
}
/* service area */
.service-area {
  padding: 80px 0;
  position: relative;
}
.single-service {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0;
  padding: 35px 25px;
  transition: 0.3s;
  cursor: pointer;
}
.single-service:hover {
  background-color: #caa892;
  color: #ffffff;
}
.single-service:hover h3 {
  color: #ffffff;
}
.all-services {
  margin-top: 50px;
  position: relative;
}
.service-area .owl-nav {
  position: absolute;
  right: 0;
  top: -60px;
}
.service-area .owl-nav span {
  display: inline-block;
  background-color: #fff;
  color: #646464;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.service-area .owl-nav span:hover {
  background-color: #37806b;
  color: #ffffff;
}
.service-area .owl-next {
  margin-left: 10px;
}
.service-text h3 {
  color: #212121;
  font-size: 24px;
}
.service-text p {
  margin: 0;
}
/* about-area*/
.about-area {
  padding: 80px 0;
}
.about-text h6 {
  text-transform: capitalize;
}
.about-text h2 {
  color: #212121;
  font-size: 42px;
}
.about-text a {
  text-transform: capitalize;
}
/* success-area */
.success-area {
  padding: 80px 0;
}
.success-text img {
  height: 200px;
  width: 250px;
  margin-bottom: 25px;
}
.success-text h4 {
  font-size: 50px;
  margin-bottom: 30px;
}
/* work-area */
.work-area {
  padding: 80px 0;
  background-color: #f8f8f8;
}
.section-heading h3 {
  font-size: 45px;
}
.all-work {
  margin-top: 100px;
}
.single-work {
  display: flex;
  justify-content: center;
}
.singel-work-text {
  background-color: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.singel-work-text::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 65px;
  z-index: -1;
  right: -65px;
  top: 100px;
  border-top: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
}
.singel-work-text.special::after{
  left:-65px ;
  top: 100px;
  border-right: none;
}
.single-work-two .singel-work-text::before{
  position: absolute;
  content: "";
  height: 100px;
  width: 65px;
  z-index: -1;
  right: -65px;
  top: 100px;
  border-top: 2px solid #E0E0E0;
}
.single-work-three .singel-work-text::before{
  position: absolute;
  content: "";
  height: 100px;
  width: 65px;
  z-index: -1;
 left: -65px;
  top: 100px;
 border-top: 2px solid #E0E0E0;
 border-left: 2px solid #E0E0E0;
}

.special {
  margin-top: 100px;
}
/* testimonial-area */
.testimonial-area{
  padding: 80px 0;
}
.all-testimonial{
  padding-top: 80px ;
  position: relative;
}
.testimonial-area .owl-nav {
  position: absolute;
  right: 0;
  top: 0px;
}
.testimonial-area .owl-nav span {
  display: inline-block;
  background-color: #fff;
  color: #646464;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.testimonial-area .owl-nav span:hover {
  background-color: #37806b;
  color: #ffffff;
}
.testimonial-area .owl-next {
  margin-left: 10px;
}

.single-testimonial{
  padding: 20px;
}
.testimonial-area .section-heading h4{
  color: #646464;
}
.testimonial-content{
  display: flex;
  position: relative;
  padding: 40px;
  padding-left: 0;
  z-index: 1;
}
.testimonial-content::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 65px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 5px rgba(66,96,84,.15);
  border-radius: 70px 0;
  z-index: -1;

}
.textimonial-text h4 {
  font-size: 24px;
}
.textimonial-text h4 span{
  font-size: 16px;
  color: #646464;
}
.textimonial-image{
  margin-right: 20px;
}
.textimonial-image img{
  width: 130px !important;
  height: 130px;
}
.icon-img{
  position: absolute;
  right: 20px;
  top: 20px;
}
.icon-img img{
  width: 25px;
  height: auto;
}
/* blog-area */
.blog-area{
padding: 80px 0;
background-color: #F8F8F8;
}
.section-heading{
  margin-bottom: 70px;
}
.blog-text h3{
  margin-top: 60px;
  font-size: 25px;
}
.blog-text p{
  margin-bottom: 50px;
}
/* signup-area */
.signup-area{
  padding:150px 0;
}
.signup-area .form-control{
  background-color: #eeeeee;
  border: none;
  border-radius: 20px 0px 0px 0px;
  padding: 10px 15px;
}
.signup-area button{
  border: none;
  background-color: #37806b;
  color: #ffffff;
  border-radius: 0px 0px 20px 0px;
}
.signup-area button:hover{
  background-color:#b0855b;
}
.signup-text h3{
  font-size: 48px;
  margin-bottom: 25px;
  padding-bottom: 22px;
  position: relative;
}
.signup-text h3::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 400px;
  background-color: #646464;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
}
.signup-text p{
  font-size:18px;
  margin-bottom: 30px;
}
/* main area end */
/* Footer area start  */
.footer-area {
  background-color: #f8f8f8;
  position: relative;
}
.footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}
.company-about p {
  margin-top: 20px;
  font-size: 16px;
}
.footer-link h4 {
  font-size: 25px;
  color: #111111;
  margin-bottom: 22px;
}
.footer-link ul {
  margin: 0;
  padding: 0;
}
.footer-link ul li {
  list-style: none;
}
.footer-link ul a {
  text-decoration: none;
  color: #646464;
  display: inline-block;
  padding: 5px 0;
  transition: 0.5s;
}
.footer-link ul a:hover {
  color: #37806b;
}
.Contact-address h4 {
  font-size: 25px;
  color: #111111;
}
.Contact-address li {
  padding: 5px 0;
}
.social-link li {
  display: inline-block;
}
.social-link li a {
  background-color: #d5d5d5;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  color: #ffffff;
  transition: 0.5s;
}
.social-link li a:hover {
  color: #37806b;
}
.footer-bottom {
  color: #646464;
  border-top: 1px solid #646464;
  padding: 15px 0;
}
.footer-bottom a {
  text-decoration: none;
  color: #37806b;
}
.design {
  position: absolute;
  top: -35px;
}
.design img {
  height: 70px;
  width: 70px;
}
/*  Footer area End */
